**/archive/
**/__pycache__/
**/.ipynb_checkpoints/
**/E_6_14_.swc
**/E_6_14_smooth.swc
**/n123_morphology.swc
**/x86_64/
**/x64_86/
*.gexf
*.log
**/E_6_14_smooth_smaller_diam.swc
/GUIDE/
structure.md
**final_figure_extra-000.swc
app/docs/build/
app/docs/make.bat
app/docs/Makefile
E_6_15_in_um_extended.swc
**/CA1_new
**/CA1_old
**/CA1_morpho.ipynb
**Kyra/
**Kyra_morphology.ipynb
**diams.ipynb
**CA1_new_mean_std_rad_axon.swc
**CA1_new_mean_std_rad.swc
**E_3_6_modified.swc
app/data/
app/static/data/Default/
app/static/data/Templates/
app/static/data/*/biophys/mod/*/
!app/static/data/*/biophys/mod/*.mod
app/static/data/*/biophys/mod/std*.mod
!app/static/data/Test/biophys/mod/std*.mod
app/static/data/*/biophys/python/*
app/static/data/*/*.py
app/static/data/*/*.ipynb
app/static/data/*/morphology/*sorted.swc
app/static/data/*/morphology/*.asc
app/static/data/*/morphology/Hay_2011.swc
app/static/data/*/morphology/Poirazi_2003.swc
app/static/data/_*/
test_data/
app/static/data/*/*.npy