{% extends base %}


{% block preamble %}
<link rel="stylesheet" href="app/static/css/main.css">
<link rel="shortcut icon" type="image/x-icon" href="/app/static/images/favicon.png">
<script src="app/static/main.js"></script>


{% endblock %}

{% block contents %}



<div class="app-container">
    <div class="app">
        <button id="settings-button">Settings</button>
        {{ embed(roots.app) }}
    </div>
</div>

<div class="settings hidden">
    <div class="settings-content">
        <div class="settings-header">
            <button id="settings-close-button">✕</button>
        </div>
        <div class="settings-body">
            <div id="settings">
                {{ embed(roots.settings_panel) }}
            </div>
        </div>
    </div>
</div>



{{ super() }}


{% endblock %}